.repo-card__container {
    font-weight: 200;
    overflow-wrap: break-word;
    margin-top: 1.2rem;
    position: relative;
    font-weight: 200;
}

.repo-card__name {
    text-decoration: none;
}

.repo-card__name--link {
    color: var(--black-base);
    font-weight: 300;
}

.repo-card__name--title {
    margin-bottom: 1rem;
    font-weight: 500;
}

.repo-card__name--link:hover {
    text-decoration: underline;
}

.icon--purple {
    color: var(--purple-base);
}

.icon--gray {
    color: var(--gray-9);
}

.repo-card__point--last-edited {
    position: relative;
    left: 1.9rem;
    font-size: 1.5rem;
}

.repo-card__image--octocat {
    --side-size: 1.7rem;
    width: var(--side-size);
    height: var(--side-size);
    margin-right: 0.4rem;
    transform: translateY(3px);
}
