.profile__container {
    width: 14rem;
    background-color: var(--white-base);
    padding: 1rem 0 2.5rem;
    width: 100%;
    align-items: center;
}

.profile__login {
    max-width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.profile__avatar {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.profile__contributions {
    text-align: center;
    color: var(--black-base);
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: lighter;
}
