.paginator__button {
    line-height: 1.5;
    text-align: center;
    padding: 0.7rem 1.2rem;
    color: var(--purple-base);
    cursor: pointer;
    user-select: none;
    background: var(--white-base);
    border: 1px solid var(--gray-e5);
}

.paginator__button:enabled:hover {
    background-color: var(--lightblue);
}

.paginator__button:disabled {
    color: var(--lightgray);
    cursor: default;
}

.paginator__button--pressed {
    color: var(--white-base) !important;
    border: 1px solid var(--lightgray);
    background-color: var(--purple-base);
    background-image: var(--purple-gradient);
}

.paginator__button--pressed:hover {
    background-image: var(--reverse-purple-gradient);
}

@media (max-width: 675px) {
    .paginator__button:not(:first-child):not(:last-child):not(.paginator__button--pressed) {
        display: none;
    }
}
