.paginator__container {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    font-weight: 200;
    position: relative;
}

.search-input__container {
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 300;
    width: 50%;
}

@media (max-width: 768px) {
    .search-input__container {
        width: 70%;
    }
}

@media (max-width: 525px) {
    .search-input__container {
        width: 100%;
    }
}


.search-input {
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 0 3rem;
    border: solid 1px var(--gray-e5);
    height: 4rem;
    width: 100%;
    border-radius: 2rem;
    background-color: var(--white-base);
}

.search-input__status {
    position: absolute;
    bottom: 0;
    left: 4rem;
    font-size: 1.3rem;
}
