.scroller {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: sticky;
    bottom: 1rem;
    right: 90%;
    background-color: var(--link-blue);
    background-image: var(--blue-gradient);
    color: var(--white-base);
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.scroller:hover {
    opacity: 1;
}
