.scroller {
    --side: 4rem;
    width: var(--side);
    height: var(--side);
    font-size: 1.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: sticky;
    bottom: 5%;
    left: 85%;
    background-color: var(--link-blue);
    background-image: var(--blue-gradient);
    color: var(--white-base);
    opacity: 0.7;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    z-index: var(--high);
    outline: 0;
}

.scroller:hover,
.scroller:focus {
    opacity: 1;
    box-shadow: var(--shadow-base);
}
