.language-selector {
    position: absolute;
    right: 5rem;
    top: 1.5rem;
    font-weight: 100;
    font-size: 1.6rem;
}

.select.select--language {
    margin-left: 1rem;
    height: 3rem;
    padding: 0 3rem;
    cursor: pointer;
}
