.contributors__container {
    display: flex;
    list-style: none;
    flex-basis: 1rem;
    flex-direction: column;
}

.repo-details__container {
    padding: 1rem;
}

.repo-details__link--main-page {
    margin: 1rem 0;
}

.repo-details__language {
    color: var(--white-base);
    background-color: var(--purple-base);
    padding: 0.2rem 0.6rem;
    border-radius: 1rem;
}

.repo-details__description {
    padding: 1rem 0;
    border-top: 1px solid var(--gray-e5);
    border-bottom: 1px solid var(--gray-e5);
    margin: 1.5rem 0;
}

.repo-details__header--contributors {
    padding: 1rem 0;
}
