:root {
    --font-primary: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --gray-e5: #e5e5e5;
    --gray-9: #999;
    --purple-base: #654FF0;
    --white-base: #fff;
    --lightblue: #f3fcff;
    --lightgray: lightgray;
    --darkblue: darkblue;
    --link-blue: rgb(0, 0, 238);
    --black-base: black;
    --light-base: #1fd1f9;
    --pink-base: deeppink;
    --purple-dark: #b621fe;
    --purple-gradient: linear-gradient(315deg, var(--light-base) 0%, var(--purple-dark) 74%);
    --reverse-purple-gradient: linear-gradient(45deg, var(--light-base) 0%, var(--purple-dark) 74%);
    --blue-gradient: linear-gradient(315deg, var(--light-base) 0%, var(--purple-base) 74%);
    --low: 1;
    --medium: 2;
    --high: 3;
    --shadow-base: 0 0 0 3px rgba(0, 123, 255, .5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
}

* ::selection {
    background-color: var(--purple-base);
    color: white;
}

a, a:visited {
    color: initial;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: 400;
    text-overflow: ellipsis;
}

a:hover,
a:focus {
    color: var(--purple-base);
}
