:root {
    --font-primary: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --gray-e5: #e5e5e5;
    --gray-9: #999;
    --purple-base: #654FF0;
    --white-base: #fff;
    --lightblue: #f3fcff;
    --lightgray: lightgray;
    --darkblue: darkblue;
    --link-blue: rgb(0, 0, 238);
    --black-base: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
}

* ::selection {
    background-color: var(--purple-base);
    color: white;
}

a, a:visited {
    color: initial;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: 400;
    text-overflow: ellipsis;
}

a:hover {
    color: var(--purple-base);
}
