:root {
    --font-primary: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
    --gray-e5: #e5e5e5;
    --purple-base: mediumslateblue;
    --white-base: #fff;
    --lightblue: #f3fcff;
    --lightgray: lightgray;
    --darkblue: darkblue;
    --link-blue: rgb(0, 0, 238);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 400;
    text-overflow: ellipsis;
}
