.header__container {
    height: 5rem;
    background-color: var(--purple-base);
    background-image: var(--blue-gradient);
}

.header__link {
    display: flex;
    align-items: center;
    width: fit-content;
}

.header__link--name {
    color: var(--white-base);
}

.header__image {
    height: 100%;
    width: 100%;
}

.header__link:hover .header__link--name,
.header__link:focus .header__link--name {
    color: var(--light-base);
}
