.repo-info__name {
    text-decoration: none;
}

.repo-info__name--link  {
    color: var(--black-base);
}

.repo-info__name--title  {
    margin-bottom: 1rem;
    font-weight: bold;
}

.repo-info__name--link:hover  {
    text-decoration: underline;
}
