.repo-list {
    list-style: none;
    padding: 1rem;
}

.repo-list--item {
    padding: 1rem;
}

.repo-list--item:not(:first-child) {
    border-top: 1px solid var(--gray-e5);
}

.repos-list__info--empty {
    text-align: center;
}
