.repo-list {
    list-style: none;
    padding: 1rem;
}

.repos-list__container {
    width: 50%;
}

.repo-list--item {
    padding: 1rem;
    border-top: 1px solid var(--gray-e5);
}

.repo-list--item:first-child {
    padding: 0 1rem;
    border-top: none;
}

.repos-list__info--empty {
    text-align: center;
}

@media (max-width: 768px) {
    .repos-list__container {
        width: 70%;
    }
}

@media (max-width: 525px) {
    .repos-list__container {
        width: 100%;
    }
}
